[submodule "thirdparty/NanoCBOR"]
	path = thirdparty/NanoCBOR
	url = https://github.com/bergzand/NanoCBOR
[submodule "thirdparty/mbedtls"]
	path = thirdparty/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
